:root {
  --hero-gallery-background-color: #645cff;
  --services-gallery-background-color: #f8fbfc;
  --footer-background-color: #222;
  --primary-color: #645cff;
  --links-color: #0303ef;
  --white-text-color: #fff;
  --text-black-color: #222;
  --icons-hover-color: #8c87ec;
  --gallery-hover-color: #2420708a;
}
